.pixel {
  display: inline-block;
  background-color: white;
  z-index: 0;
  border: solid 0.1px rgba(187, 187, 187, 0.493);
  border-radius: 2px;
}
main {
  display: grid;
  width: 500px;
  height: 500px;
  place-self: center;
  box-shadow: 0 0 10px 1px rgb(165, 165, 165);
}
body {
  display: grid;
  height: 100vh;
  width: 100vw;
}
